@page "/"
@using procon.Features.Reasons
@using procon.Features.Reasons.Value_Objects

<h1>Enter your list of pros and cons</h1>

@if (ReasonList != null)
{

    <div class="row">
        <div class="col-md-6">
            <ReasonList Name="Pros" Reasons="@ReasonList.Where(x => x.IsPro()).ToList()"></ReasonList>
        </div>
        <div class="col-md-6">
            <ReasonList Name="Cons" Reasons="@ReasonList.Where(x => x.IsCon()).ToList()"></ReasonList>
        </div>
    </div>
}


@code
{
    private List<Reason> ReasonList;

    protected override async Task OnInitializedAsync()
    {
        ReasonList = new List<Reason>
        {
            new Reason(new Description("Good thing")),
            new Reason(new Description("Bad thing"), new Weight(-1), new Probability(100))
        };
    }
}
